<div class="sharebuttons">
    <hr />
    <ul>
        <li class="twitter">
            <a href="https://twitter.com/merrafelice" target="_blank">
            {% include social/twitter.svg %}
            </a>
        </li>
        <li class="google">
            <a href="https://scholar.google.com/citations?user=O4bDuG4AAAAJ&hl=en" target="_blank">
            {% include social/scholar.svg %}
            </a>
        </li>
        <li class="github">
            <a href="https://github.com/merrafelice" target="_blank">
                {% include social/github.svg %}
            </a>
        </li>
        <li class="linkedin">
            <a href="https://www.linkedin.com/in/feliceantoniomerra/" target="_blank">
                {% include social/linkedin.svg %}
            </a>
        </li>
        <li class="poliba">
            <a href="http://sisinflab.poliba.it/merra" target="_blank" title="Polytechnic University of Bari">
                {% include social/poliba.svg %}
            </a>
        </li>
        <li class="researchgate">
            <a href="https://www.researchgate.net/profile/Felice_Merra2" title="Research Gate" target="_blank">
                {% include social/researchgate.svg %}
            </a>
        </li>
    </ul>
</div>
